Server/.vs/Webservice/v16/.suo
Server/Webservice.API/bin/Debug/netcoreapp3.1/Webservice.API.dll
Server/Webservice.API/bin/Debug/netcoreapp3.1/Webservice.API.pdb
Server/Webservice.API/obj/project.assets.json
Server/Webservice.API/obj/project.nuget.cache
Server/Webservice.API/obj/Webservice.API.csproj.nuget.dgspec.json
Server/Webservice.API/obj/Debug/netcoreapp3.1/Webservice.API.assets.cache
Server/Webservice.API/obj/Debug/netcoreapp3.1/Webservice.API.csproj.FileListAbsolute.txt
Server/Webservice.API/obj/Debug/netcoreapp3.1/Webservice.API.csprojAssemblyReference.cache
Server/Webservice.API/obj/Debug/netcoreapp3.1/Webservice.API.dll
Server/Webservice.API/obj/Debug/netcoreapp3.1/Webservice.API.genruntimeconfig.cache
Server/Webservice.API/obj/Debug/netcoreapp3.1/Webservice.API.pdb
